header {
	height: var(--header-height); width: 100vw;
	/* background-color: blue; */
	background-color: var(--main-color);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: transform 250ms ease-out;

	& .wrapper {
		display: flex;
		/* background-color: red; */
		width: 100%; height: 100%;
		max-width: var(--max-page-width);
		align-items: center;

		& .wrapper.left {
			justify-self: start;

			& .logo-wrapper {
				& a {
					color: var(--page-color);
					text-decoration: none;
					user-select: none;
				}
			}
		}

		& .wrapper.right {
			justify-self: end;
			justify-content: end;

			& .button-wrapper {
				--transition-data: all 0.4s ease-out;
				--glow-effect: 0 0 15px #959aae;
				transition: var(--transition-data);
				margin: 0 15px; z-index: 2;
				cursor: pointer; user-select: none;

				& * { transition: var(--transition-data) }
				& .button-elements {
					display: flex; flex-direction: row;
					align-items: center; justify-content: center;
					& p {
						text-align: center; white-space: nowrap;
						margin-left: 10px; font-weight: 500;
						color: var(--page-color);
					}
					& svg {
						height: 32px; width: 32px;
						& #stroke { fill: var(--page-color); }
						& #hole { fill: var(--page-color); }
						& #head { fill: #00000000; stroke: var(--page-color); }
						& #all-text { fill: var(--page-color); }
					}
				}
		
				&:hover {
					padding: 0 18px;
					text-shadow: var(--glow-effect);
					& .button-elements svg {
						filter: drop-shadow(var(--glow-effect));
						& #background { fill: var(--page-color); }
						& #hole { fill: var(--main-color); }
						& #head { fill: var(--page-color); }
						& #all-text { fill: var(--main-color); }
					}
					&:after { transform: scaleX(1); box-shadow: var(--glow-effect); }
				}
				&:after {
					content: ""; display: block;
					width: 100%; height: 1px;
					background-color: var(--page-color);
					position: relative; bottom: -1px;
					transform: scaleX(0);
					transform-origin: center;
					transition: var(--transition-data);
				}
			}
		}
	}
}

main {
	display: flex;
	padding-top: var(--header-height);
	justify-content: center;
    margin-bottom: 50px;

	& .wrapper {
		/* background-color: green; */
		width: 100%;
		max-width: var(--max-page-width);

		& #search-bar {
			height: 150px; display: flex;
			justify-content: center;
			align-items: center;

			&  .input-wrapper {
                box-shadow: 0 0 100px var(--homepage-offer-glow);
				width: 80%; display: flex;
				justify-content: center;
				align-items: center;
				border-radius: var(--global-border-radius);
				overflow: hidden;
				
				& * { height: 75px; font-size: 1em; }
				& #search-button {
					width: 25%;
                    border-radius: 0;
				}
				& #search-input-box {
                    margin: 0;
                    width: 100%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
					/* --input-background: white;
					width: 100%; border: 0;
					padding-left: 32px; background-color: var(--input-background);
					border-bottom: var(--input-box-border-size) solid var(--input-background);
					padding-top: var(--input-box-border-size); box-sizing: border-box;
                    transition: all 0.2s ease-out; filter: none;
					&:focus {
						border-bottom: var(--input-box-border-size) solid black;
					} */
				}
			}
		}
	}
}

footer {
	display: flex;

	& .wrapper {
		/* background-color: red; */
		width: 100%;
		max-width: var(--max-page-width);
	}
}